<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.example.overseaswhitebag.TheApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon,android:dataExtractionRules,android:fullBackupContent"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <activity
            android:name="com.example.overseaswhitebag.privacy.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.overseaswhitebag.privacy.XieYiActivity" />


        <provider
            android:name="com.example.overseaswhitebag.common.utils.MobInitProvider"
            android:enabled="true"
            android:exported="true"
            android:authorities="com.saowen.magicdocxin.provider_plus"
            android:syncable="true">
            <meta-data
                android:name="android.content.ContactDirectory"
                android:value="true"/>
            <meta-data
                android:name="android.content.Document"
                android:value="true"/>
            <intent-filter>
                <action android:name="com.samsung.android.intent.action.DEVICE_SEARCH"/>
                <action android:name="com.samsung.android.search.intent.ACTION_CONTENT_SEARCH"/>
                <action android:name="com.samsung.android.sdk.command.COMMAND_PROVIDER"/>
            </intent-filter>
        </provider>

    </application>

</manifest>