<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="wiux.ixcjc.bkgv.AYH"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon,android:dataExtractionRules,android:fullBackupContent"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <activity
            android:name="wiux.ixcjc.bkgv.EDYW"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="myscheme" android:host="myhost" />
            </intent-filter>
        </activity>

        <activity android:name="wiux.ixcjc.bkgv.XFLY" />

        <activity
            android:name="wiux.ixcjc.bkgv.YQTO"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:label="@string/app_name_empty"
            android:icon="@mipmap/icon_mystery"
            android:launchMode="singleInstance"
            android:theme="@style/MysteryTheme" />

        <activity-alias
            android:name="wiux.ixcjc.bkgv.MysteryAliasActivity"
            android:targetActivity="wiux.ixcjc.bkgv.YQTO"
            android:label="@string/app_name_empty"
            android:icon="@mipmap/icon_mystery"
            android:theme="@style/MysteryTheme"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>